/* .ViewMenuDiv{
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
} */

.ViewMenu{
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    border: 2px solid;
}

.ViewMenuTitle{
    text-align: center
}