.GraphSvg{
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
}

#svg{
    position: relative;
}

.draggable{
    cursor: move;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}